html,
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#container {
  width: 500px;
  margin: 0 auto;

}
.content{
  margin: 8px;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 325px;
}

.content{
  margin: 8px;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
input {
  border: none;
  background-color: #eaeaea;
  color: #222222;
  padding: 16px;
  font-size: 25px;
  margin-top: 10px;
}
button {
  border: none;
  background-color: lightseagreen;
  font-size: 24px;
  padding: 16px;
  margin-left: 10px;
  height: 65px;
  color: #eaeaea;
  font-weight: 600;
  margin-top: 10px;
}
button:hover {
  cursor: pointer;
  background-color: #33333;
  transition: .5s all ease-in-out;
}
#pertanyaan{
  font-weight: 500;
  font-size: 1.6em;
}
#loaders{
  display: none;
width: 85px;
height: 85px;
position: absolute;
top: 50%;
border-radius: 50%;
border-top: 10px solid lightseagreen;
left: 50%;
z-index: 9;
animation: 1s spin infinite linear;
}

@keyframes spin {
  0%{
transform: rotate(0deg);
  }
  100%{
transform: rotate(360deg);
  }
}